@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
 

 
@font-face {
  font-family: "Superscratchy";
  src: url('/fonts/superscratchy.woff') format('woff');
}



 

[v-cloak] { display:none; }

a {
  color: #2299a1;
 text-decoration: underline;
 font-weight: bold;
}


body {
  font-family: "Superscratchy"  ;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9da9bb;
  text-align: left;
  background-color: #262a2f;
}

.font-fun {
  font-family: "Superscratchy"  ;

}

.font-boring {
  font-family: "Arial"  ;
}

.wide-letters{
  letter-spacing: 3px;
}


.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.margin-center {
  margin-left: auto;
  margin-right:auto;
}


.brand {
  margin-top: 20px;
  margin-right: 10px;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}


.svg-icon .dark {
  stroke: #222;
}



.mining-animation{
    animation: semispin 0.4s linear infinite;

}

@keyframes semispin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(30deg); }
}


.markdown a
{
 color: #1b366d;
 text-decoration: underline;
 font-weight: bold;
}

.pull-right
{
  float:right;
}



.origin-top-right {
  transform-origin: top right;
}
.transition-all {
  transition-property: all;
}
.transition-fastest {
  transition-duration: 50ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.ease-out-quad {
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}
.ease-in-quad {
  transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}
.scale-70 {
  transform: scale(.7);
}
.scale-100 {
  transform: scale(1);
}
